:root {
	--main: #0c8;
	--bg: #333;
}

body {
	margin: 0;
	background-color: var(--bg);
}

#board {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 300px;
	background-color: var(--main);
	cursor: pointer;
}

.box {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--bg);
	width: calc(100% / 3);
	height: calc(100% / 3);
	float: left;
}